@model PresentacionVentR.Models.Proveedor

@{
    ViewData["Title"] = "RegistrarProveedor";
}

<center><h3>RegistrarProveedor</h3></center>

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" name="Nombre"  required id="Nombre" class="form-control"  placeholder="Nombre"  />
            <span asp-validation-for="Nombre"   id="mensaje" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input id="btnEnviar" name="btnEnviar" type="button" value="Guardar " class="btn btn-primary" />
        </div>

    </div>

    <div class="col-md-4"></div>
</div>

    <div>
        <a asp-action="ListarProveedores">Regresar</a>
    </div>


    @section scripts {
        <script>
            $("#btnEnviar").click(function () {
                var mensaje_error = [];
                var error = document.getElementById("mensaje");
                error.style.color = 'red';

            var proveedor = {
                'Nombre': $('#Nombre').val()
            };

            var nombre = $('#Nombre').val();
            if (nombre == "" || nombre==null) {
                mensaje_error.push('**Ingrese el nombre de la empresa');
            } else {
                registrarProveedor(proveedor);
                }
              

               error.innerHTML = mensaje_error.join(', ') + '\n';
        });

            function registrarProveedor(proveedor) {
                     $.ajax({
                url: "@Url.Action("Registrar", "Proveedor")",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(proveedor),
                success: function (response) {
                    console.log(response);
                    if (response) {
                       alert('El proveedor fue registrado exitosamente.');
                    } else {
                       alert('No ha sido registrado');
                    }


                },
                error: function (error) {
                }
            });
            }

        </script>
    }
