<app-navbar></app-navbar>

<app-loading *ngIf="loading == true"></app-loading>

<section *ngIf="loading == false">
    <div class="container m-2">
        <hr>
        <h1>Productos disponibles<small> ({{ products.length }})</small></h1>
        <hr>
        <h2 *ngIf="textTofind">Buscando: <small>{{textTofind}}</small></h2>
        <div *ngIf="products.length == 0" class="alert alert-info animated fadeInLeft" role="alert">
            Ninguna considencia
        </div>
    </div>

    <div *ngIf="products.length > 0" class="container m-2">
        <div class="btn-group m-2" role="group" aria-label="Basic example">
            <button (click)="goStart()" type="button" class="btn btn-primary">Inicio</button>
            <button (click)="goMedium()" type="button" class="btn btn-primary">Medio</button>
            <button (click)="goEnd()" type="button" class="btn btn-primary">Final</button>
        </div>

        <cdk-virtual-scroll-viewport itemSize="100" class="viewport">
            <div class="container">
                <div class="card-columns animated fadeInUp">
                    <div *cdkVirtualFor="let product of products" class="card">
                        <img [src]="product.urlImg" class="card-img-top" [alt]="product.nombre">
                        <div class="card-body">
                            <h5 class="card-title">{{product.nombre}}</h5>
                            <p class="card-text">{{product.detalle}}</p>
                            <p class="card-text">Disponibles:<small class="text-muted"> {{product.cantidad}}</small></p>
                            <h4 style="color: red;">{{product.precio.value | currency: '¢'}}</h4>
                            <button (click)="viewProduct(product.idProducto)" class="btn btn-outline-primary btn-block"> Ver más...</button>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>

        <div class="btn-group m-2" role="group" aria-label="Basic example">
            <button (click)="goStart()" type="button" class="btn btn-primary">Inicio</button>
            <button (click)="goMedium()" type="button" class="btn btn-primary">Medio</button>
            <button (click)="goEnd()" type="button" class="btn btn-primary">Final</button>
        </div>
    </div>

</section>