<div class="footer bg-primary">
    <div class="row container mt-5 p-5">
        <div class="col-4">
            <img src="assets\images\VentR_logo-01.svg" alt="">
        </div>
        <div class="col-4">
            <h3>Mapa del sitio:</h3>
            <a routerLink="/home"> Home </a>
        </div>
        <div class="col-4">
            <h3>Contacto:</h3>
            <p>Teléfono: (+506) 800-800-ventr</p>
            <p>Correo: ventr@email.com </p>
        </div>
        <div class="col-12">
            <img src="assets\images\icons\facebook.svg" alt="">
            <img src="assets\images\icons\whatsapp.png" alt="">
            <img src="assets\images\icons\instagram.png" alt="">
        </div>
    </div>
</div>