<div class="footer bg-primary p-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="assets\images\VentR_logo-01.svg" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3>Contacto:</h3>
            <hr>
            <p>Teléfono: (+506) 800-800-ventr</p>
            <p>Correo: ventr@email.com </p>
            <p>San José, Costa Rica</p>
        </div>
        <br>
        <br>

        <div class="col-12 text-center">
            <hr>
            <p>Copyright © 2020 / Todos los derechos reservados</p>
            <hr>
            <p><small>By Group HaKaMiNeSa</small></p>
        </div>
    </div>
</div>