@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error inesperado mientras se procesaba la acción</h2>

@if (Model.RequestId == "1")
{
    <h3>Correo duplicado</h3>
    <p>
        <strong>ATENCIÓN:</strong> Un error ha ocurrido debido a que el correo que trata de actualizar ya se encuentra registrado, trate con otro e intente nuevamente.
    </p>
}
else if (Model.RequestId == "2")
{
    <h3>Correo duplicado</h3>
    <p>
        <strong>ATENCIÓN:</strong> Un error ha ocurrido debido a que el correo que trata de ingresar ya se encuentra registrado, trate con otro e intente nuevamente.
    </p>
}
else
{
    <h3>Error de eliminado</h3>
    <p>
        <strong>ATENCIÓN:</strong> Un error ha ocurrido al tratar de eliminar,espere e intente nuevamente.
    </p>
}


