@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center; alert-primary">

    <h2 class="display-4">Bienvenidos al Back Office de <img src="~/img/VentR_logo-01.svg" width="150" height="150" /></h2>

</div>
