<app-navbar></app-navbar>

<div class="container mb-5 animated fadeInDown">
    <br>
    <br>

    <h1>Carrito de compras</h1>
    <div *ngIf="shopcart.length > 0" class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let newShopcart of shopcart; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{newShopcart.productos.nombre}}</td>
                        <td>{{newShopcart.productos.detalle}}</td>
                        <td>{{newShopcart.productos.precio.value | currency:'¢'}}</td>
                        <td>{{newShopcart.cantidad_Solicitada}}</td>
                        <td>{{newShopcart.cantidad_Solicitada * newShopcart.productos.precio.value | currency:'¢'}}</td>
                        <td>
                            <a class="m-1 btn" (click)="delete(newShopcart.productos.idProducto)" style="color: red;" title="Borrar">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                  </svg>
                            </a>
                            <a class="m-1 btn" (click)="viewProduct(newShopcart.productos.idProducto)" style="color: blue;" title="Detalles">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-right">Sub Total:</th>
                        <th scope="col" class="text-center">{{ subTotal | currency:'¢'}}</th>
                    </tr>

                    <tr>
                        <th scope="col" class="text-right">iva:</th>
                        <th scope="col" class="text-center">{{ iva | currency:'¢'}}</th>
                    </tr>

                    <tr>
                        <th scope="col" class="text-right" style="color: brown;">Total:</th>
                        <th scope="col" class="text-center btn-outline-danger">{{ total | currency:'¢'}}</th>
                    </tr>

                </thead>

            </table>
        </div>
        <div class="col-12">
            <button style="width: 50%;" class="float-right btn btn-outline-danger btn-block m-2">Pagar</button>
        </div>
    </div>

    <div *ngIf="shopcart.length == 0" class="row text-center">
        <div class="col-12">
            <h3 style="color: red;">Carrito vacio</h3>
            <a routerLink="['/home']" class="m-5 btn btn-outline-primary btn-block">Ir a comprar...</a>
        </div>
    </div>
</div>