<app-navbar></app-navbar>

<div class="container mb-5 animated fadeInDown">
    <br>
    <br>

    <h1>Carrito de compras</h1>
    <div *ngIf="shopcart.length > 0" class="row">
        <div class="col-12 table-of">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cod</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let newShopcart of shopcart; let i=index">
                        <th scope="row">{{newShopcart.productos.idProducto}}</th>
                        <td>{{newShopcart.productos.nombre}}</td>
                        <td>{{newShopcart.productos.detalle}}</td>
                        <td>{{newShopcart.productos.precio.value | currency:'¢'}}</td>
                        <td>{{newShopcart.cantidad_Solicitada}}</td>
                        <td>{{newShopcart.cantidad_Solicitada * newShopcart.productos.precio.value | currency:'¢'}}</td>
                        <td>
                            <a class="btn" (click)="lessProduct(newShopcart)" style="color: red;" title="Restar">
                                <svg fill="currentColor" height="2em" width="2em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-224c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h224c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/>
                                </svg>
                            </a>
                            <a class="btn" (click)="plusProduct(newShopcart.productos.idProducto)" style="color: blue;" title="Sumar">
                                <svg fill="currentColor" height="2em" width="2em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/>
                                </svg>
                            </a>
                            <a class="btn" (click)="viewProduct(newShopcart.productos.idProducto)" title="Detalles">
                                <img height="35em" width="35em" src="assets\images\icons\lupa.svg" alt="Detalles">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-right">Sub Total:</th>
                        <th scope="col" class="text-center">{{ subTotal | currency:'¢'}}</th>
                    </tr>

                    <tr>
                        <th scope="col" class="text-right">iva:</th>
                        <th scope="col" class="text-center">{{ iva | currency:'¢'}}</th>
                    </tr>

                    <tr>
                        <th scope="col" class="text-right" style="color: brown;">Total:</th>
                        <th scope="col" class="text-center btn-outline-danger">{{ total | currency:'¢'}}</th>
                    </tr>

                </thead>

            </table>
        </div>
        <div class="col-12">
            <button (click)="buy(userId)" style="width: 50%;" class="float-right btn btn-outline-warning btn-block m-2">Pagar</button>
            <button routerLink="['/home']" style="width: 50%;" class="float-right btn btn-outline-primary btn-block m-2">Seguir comprando</button>
        </div>
    </div>

    <div *ngIf="shopcart.length == 0" class="row text-center">
        <div class="col-12">
            <h3 style="color: red;">Carrito vacio</h3>
            <a routerLink="['/home']" class="m-5 btn btn-outline-primary btn-block">Ir a comprar...</a>
        </div>
    </div>
</div>

<app-carousel></app-carousel>