<cdk-virtual-scroll-viewport itemSize="100" class="viewport">
    <div class="container">
        <hr>
        <h1>Productos disponibles</h1>
        <br>
        <h2 *ngIf="textTofind">Buscando: <small>{{textTofind}}</small></h2>
        <div *ngIf="products.length == 0" class="alert alert-info animated fadeInLeft" role="alert">
            Ninguna considencia
        </div>

        <hr>
        <div class="card-columns animated fadeInUp">
            <div *cdkVirtualFor="let product of products" class="card">
                <img [src]="product.urlImg" class="card-img-top" [alt]="product.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{product.nombre}}</h5>
                    <p class="card-text">{{product.detalle}}</p>
                    <p class="card-text">Disponibles:<small class="text-muted"> {{product.cantidad}}</small></p>
                    <h4 style="color: red;">{{product.precio.value | currency: '¢'}}</h4>
                    <button (click)="viewProduct(product.idProducto)" class="btn btn-outline-primary btn-block"> Ver más...</button>
                </div>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>